@use "sass:math";
/*==================================
  Development
==================================*/
#Development main {
  background-color: #eff0f2;
  .sect_1{
    padding: 0 0 140px;
    .wrapper{
      position: relative;
      &::before{
        content: "";
        display: block;
        width: 50%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .container{
        position: relative;
        z-index: 2;
        .content{
          background-color: #fff;
          padding: 0 100px 112px 0; 
          .software_table{
            width: 100%;
            border: 1px solid #e2e2e2;
            tbody{
              tr{
                display: flex;
                flex-wrap: wrap;
                &:not(:last-child){
                  border-bottom: 1px solid #e2e2e2;
                }
                th{
                  width: 195px;
                  background-color: #eff0f2;
                  font-weight: 400;
                  letter-spacing: .02em;
                  color: #000;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                td{
                  width: calc(100% - 195px);
                  padding: 14px 50px 16px;
                  .software{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    &__list{
                      padding: 0 0 0 20px;
                      &--col2{
                        &:first-child{
                          width: 55%;
                        }
                        &:last-child{
                          width: 45%;
                        }
                      }
                      &--col3{
                        width: 30%;
                      }
                    }
                    &__item{
                      list-style: disc;
                      color: #00c8e0;
                      &--txt{
                        letter-spacing: .02em;
                        line-height: 32px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
