@use "sass:math";
/*==================================
  News
==================================*/
#News main {
  background-color: #eff0f2;
  .c-breadcrumb{
    .container{
      display: none;
    }
  }
  .sect_1{
    .wrapper{
      padding: 50px 0 135px;
      .news{
        position: relative;
        margin: 50px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        &__item{
          width: 22.5%;
          @include is-max(1100px){
            width: 49%;
            &:nth-child(2n+2){
              margin: 0 0 40px 2% !important;
            }
          }
          &:not(:nth-child(4n+1)){
            margin: 0 0 40px 3.333333333333333%;
            @include is-max(1100px){
              margin: 0;
            }
          }
        }
        &__link{
          &:hover{
            img{
              transform: scale(1.2);
            }
            .news__content--title{
              color: #3d5ba8;
              text-decoration: underline;
              text-underline-offset: 5px;
            }
          }
        }
        &__img{
          position: relative;
          overflow: hidden;
          img{
            transition: .3s ease-in-out;
          }
        }
        &__content{
          background-color: #fff;
          position: relative;
          padding: 10px 30px 25px;
          &__wrap{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #919191;
            &--separator{
              opacity: 1;
              transition: .3s ease-in-out;
            }
          }
          &--date{
            @include Cormorant(400);
            font-size: 18px;
          }
          &--cat{
            font-size: 12px;
            position: relative;
            top: 2px;
            opacity: 1;
            transition: .3s ease-in-out;
          }
          &--title{
            font-weight: 500;
            letter-spacing: .14em;
            color: #060930;
            line-height: 25.6px;
            margin: 0 0 0 -1px;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }
}
