@use "sass:math";
/*==================================
  Application-Requirements
==================================*/
#Application-Requirements main {
  background-color: #eff0f2;
  .p-header01{
    &--jp{
      margin: 15px 0 0;
    }
  }
  .application-section{
    padding: 0 0 80px;
    .wrapper{
      position: relative;
      background-color: #fff;
      .container{
        position: relative;
        z-index: 2;
        .content{
          background-color: #fff;
          padding: 0 0 60px 0;
          .application{
            &--list{
              &:not(:last-child){
                margin: 0 0 30px;
              }
              .ttl{
                @include Noto_Serif(600);
                font-size: 20px;
                letter-spacing: .1em;
                line-height: 30px;
                color: #000;
                margin: 0 0 10px;
              }
              .desc{
                letter-spacing: .02em;
                line-height: 25.6px;
              }
              table{
                width: 100%;
                margin: 20px 0 0;
                table-layout: fixed;
                border: 1px solid #e2e2e2;
                tr{
                  display: flex;
                  flex-wrap: wrap;
                  &:not(:last-child){
                    border-bottom: 1px solid #e2e2e2;
                  }
                  &:last-child{
                    td{
                      ul{
                        li{
                          p{
                            font-size: 15px;
                          }
                        }
                      }
                    }
                  }
                  th{
                    width: 100%;
                    background-color: #eff0f2;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    padding: 13px 15px;
                    font-weight: 400;
                    color: #000;
                    line-height: 25.5px;
                  }
                  td{
                    width: 100%;
                    padding: 13px 15px;
                    line-height: 25.6px;
                    ul{
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      li{
                        width: 100%;
                        p{
                          line-height: 25.5px;
                        }
                      }
                    }
                    a{
                      color: #474747;
                    }
                  }
                }
              }
              .a-link{
                color: #002673;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
