@use "sass:math";
/*==================================
  Development
==================================*/
#Development main {
  background-color: #eff0f2;
  .sect_1{
    .wrapper{
      position: relative;
      background-color: #fff;
      .container{
        position: relative;
        z-index: 2;
        .content{
          background-color: #fff;
          padding: 0 0 0 0; 
          .software_table{
            width: 100%;
            border: 1px solid #e2e2e2;
            word-wrap: break-word;
            table-layout: fixed;
            tbody{
              tr{
                display: flex;
                flex-wrap: wrap;
                &:not(:last-child){
                  border-bottom: 1px solid #e2e2e2;
                }
                th{
                  width: 100%;
                  background-color: #eff0f2;
                  font-weight: 400;
                  letter-spacing: .02em;
                  color: #000;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 10px 0 10px;
                }
                td{
                  width: 100%;
                  padding: 14px 10px 16px;
                  .software{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    &__list{
                      padding: 0 0 0 20px;
                      &--col2{
                        width: 100%;
                      }
                      &--col3{
                        width: 100%;
                      }
                    }
                    &__item{
                      list-style: disc;
                      color: #00c8e0;
                      &--txt{
                        letter-spacing: .02em;
                        line-height: 32px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .sect_2{
    padding: 0 0 100px;
    .wrapper{
      position: relative;
      background-color: #fff;
      .container{
        position: relative;
        z-index: 2;
        .content{
          position: relative;
          padding: 60px 0 80px 0;
          .wrap{
            border: 1px solid #e2e2e2;
            &--item{
              padding: 17px 20px 21px;
              &:not(:last-child){
                border-bottom: 1px solid #e2e2e2;
              }
              .software{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &__list{
                  padding: 0 0 0 20px;
                  &--col2{
                    width: 100%;
                  }
                  &--col3{
                    width: 100%;
                  }
                }
                &__item{
                  list-style: disc;
                  color: #00c8e0;
                  &--txt{
                    letter-spacing: .02em;
                    line-height: 32px;
                  }
                }
              }
            }
            &--ttl{
              @include Noto_Serif(600);
              font-size: 20px;
              letter-spacing: .06em;
              line-height: 25.5px;
              color: #060930;
              margin: 0 0 5px
            }
          }
        }
      }
    }
  }
}
