@use "sass:math";
/*==================================
  Recruit-Interview
==================================*/
#Recruit-Interview main {
  background-color: #eff0f2;
  .sect_2{
    padding: 0 0 100px;
    .wrapper{
      .container{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
