/*==================================
  Top
==================================*/
#Top main {
  .main_content{
    .sect_1{
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-image: url(/images/top/sect_1/bg_img.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .content{
        h2{
          @include Cormorant(600);
          font-size: 43px;
          letter-spacing: .04em;
          color: #fff;
          text-align: center;
          mix-blend-mode: exclusion;
        }
        h3{
          @include Noto_Serif(600);
          font-size: 13px;
          letter-spacing: .2em;
          color: #fff;
          line-height: 20px;
          text-align: center;
          margin: 20px 0 0;
          mix-blend-mode: exclusion;
        }
      }
      .scroll{
        position: absolute;
        bottom: 40px;
        margin: 0 auto;
        @include Cormorant(600);
        font-size: 10px;
        color: #fff;
        letter-spacing: .08em;
        span{
          overflow: hidden;
          display: block;
          width: 1px;
          height: 30px;
          position: absolute;
          bottom: -40px;
          right: 21px;
          &::before{
            content: "";
            display: block;
            width: 100%;
            height: 0%;
            background-color: #fff;
            position: absolute;
            top: 0;
            margin: 0 auto;
            animation-name: scrollAnim;
            animation-duration: 2s;
            animation-iteration-count: infinite;
          }
          /* The animation code */
          @keyframes scrollAnim {
            0% {height: 0;}
            50% {height: 100%;top: 0;}
            100% {top: 100%;}
          }
        }
      }
    }
    .sect_2{
      margin: 100vh 0 0;
      .wrapper{
        background-color: #fff;
        padding: 62px 0 80px;
        .row{
          justify-content: space-between;
          .col{
            position: relative;
            width: 100%;
            border-bottom: 1px solid #e2e2e2;
            &:first-child{
              padding: 0 20px;
            }
            .desc{
              line-height: 25.6px;
              letter-spacing: .02em;
              margin: 25px 0 35px;
            }
            .card{
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
              picture{
                width: 37.33%;
              }
              &--content{
                width: 62.67%;
                background-color: #fff;
                padding: 10px 20px;
                &__num{
                  @include Cormorant(600);
                  font-size: 24px;
                  letter-spacing: .04em;
                  line-height: 0;
                  color: #060930;
                }
                &__title{
                  font-weight: 500;
                  font-size: 22px;
                  color: #060930;
                  letter-spacing: .14em;
                  text-decoration: underline;
                  text-underline-offset: 5px;
                  line-height: 30px;
                  margin: 20px 0 0;
                }
                &__desc{
                  line-height: 25.6px;
                  letter-spacing: .02em;
                  margin: 15px 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .sect_3{
    background-color: #eff0f2;
    padding: 0;
    .wrapper{
      background-color: #fff;
      .content{
        .row{
          .col{
            width: 100%;
            &:last-child{
              padding: 60px 20px 80px;
              .desc{
                line-height: 25.6px;
                letter-spacing: .02em;
                margin: 23px 0 0;
              }
              .c-button01{
                margin: 35px auto 0;
              }
            }
          }
        }
      }
    }
  }
  .sect_4{
    position: relative;
    background-color: #eff0f2;
    .wrapper{
      figure{
        position: relative;
        z-index: 5;
      }
      .content{
        position: relative;
        z-index: 1;
        margin: -10px 0 0;
        background-color: #181d2c;
        padding: 10px 20px 80px;
        .c-header01{
          &__en{
            color: #fff;
          }
          &__jp{
            color: #fff;
          }
        }
        .desc{
          color: #fff;
          line-height: 25.7px;
          margin: 24px 0 35px;
        }
      }
    }
  }
  .sect_5{
    .wrapper{
      position: relative;
      padding: 80px 20px 0 20px;
      background-color: #eff0f2;
      .bg_cont{
        height: 420px;
        background-image: url(/images/top/sect_5/sp/bg_img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0 0 50px 0;
        &--content{
          text-align: center;
          width: 100%;
          &__title{
            @include Noto_Serif(600);
            font-size: 18px;
            letter-spacing: .05em;
            line-height: 27px;
            color: #fff;
            @include is-max(340px){
              font-size: 16px;
            }
          }
          .c-button01{
            margin: 20px auto 0;
          }
        }
      }
    }
  }
  .sect_6{
    .wrapper{
      position: relative;
      padding: 70px 20px 100px 20px;
      background-color: #eff0f2;
      .news{
        position: relative;
        margin: 30px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        &__item{
          width: 100%;
          &:not(:last-child){
            margin-bottom: 20px;
          }
        }
        &__img{
          position: relative;
          overflow: hidden;
          img{
            transition: .3s ease-in-out;
          }
        }
        &__content{
          background-color: #fff;
          position: relative;
          padding: 10px 25px 25px;
          &__wrap{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #919191;
            &--separator{
              opacity: 1;
              transition: .3s ease-in-out;
            }
          }
          &--date{
            @include Cormorant(400);
            font-size: 18px;
          }
          &--cat{
            font-size: 12px;
            position: relative;
            top: 2px;
            opacity: 1;
            transition: .3s ease-in-out;
          }
          &--title{
            font-weight: 500;
            color: #060930;
            line-height: 25.6px;
            margin: 0 0 0 -1px;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }
}
