/*==================================
  Top
==================================*/
#Top main {
  .sect_5{
    .wrapper{
      position: relative;
      padding: 80px 0 0 0;
      background-color: #eff0f2;
      .container{
        .bg_cont{
          height: 420px;
          background-image: url(/images/top/sect_5/sp/bg_img.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding: 0 0 50px 0;
          &--content{
            text-align: center;
            width: 100%;
            &__title{
              @include Noto_Serif(600);
              font-size: 18px;
              letter-spacing: .05em;
              line-height: 27px;
              color: #fff;
              @include is-max(340px){
                font-size: 16px;
              }
            }
            .c-button01{
              margin: 20px auto 0;
            }
          }
        }
      }
    }
  }
  .sect_6{
    .wrapper{
      position: relative;
      padding: 70px 0 100px 0;
      background-color: #eff0f2;
      .container{
        position: relative;
        .news{
          position: relative;
          margin: 30px 0 0 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          &__item{
            width: 100%;
            &:not(:last-child){
              margin-bottom: 20px;
            }
          }
          &__img{
            position: relative;
            overflow: hidden;
            img{
              transition: .3s ease-in-out;
            }
          }
          &__content{
            background-color: #fff;
            position: relative;
            padding: 10px 25px 25px;
            &__wrap{
              display: flex;
              align-items: center;
              justify-content: flex-start;
              color: #919191;
              &--separator{
                opacity: 1;
                transition: .3s ease-in-out;
              }
            }
            &--date{
              @include Cormorant(400);
              font-size: 18px;
            }
            &--cat{
              font-size: 12px;
              position: relative;
              top: 2px;
              opacity: 1;
              transition: .3s ease-in-out;
            }
            &--title{
              font-weight: 500;
              color: #060930;
              line-height: 25.6px;
              margin: 0 0 0 -1px;
              transition: all .3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
